<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
  <br>
  <br>
  <center><img src="img/bmw2.png" style="border:3px solid black; padding: 5px; width:20%; height:20%" ></center>
  <center><h2>3 Comma Rydes</h2></center>
    <br>
  <br>

  <div class="list">

  <label class="item item-radio">
    <input  name="group" type="checkbox" ng-model="userType.passanger" ng-checked="userType.passanger.checked">
    <div class="item-content">
      Passsanger
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

    <label class="item item-radio">
    <input name="group" type="checkbox" ng-model="userType.rider" ng-checked="userType.rider.checked">
    <div class="item-content">
     Rider
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>


</div>

  <div ng-hide="authData" ng-click="login()">
  <center><img src="img/fb.png" style="width:50%"></img></center>
</div>

<div class="card" ng-show="authData">
  <div class="item item-text-wrap item-icon-right item-avatar">
  <img ng-src="{{authData.profileImageURL}}">
    Hello {{authData.displayName}}!
    <i class="icon ion-chevron-right icon-accessory" ng-click="savefbinfo(userType)"></i>
  </div>
</div>

  </ion-content>
</ion-modal-view>
