<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
  <br>
  <br>
  <center><img src="img/bmw.png" style="border:3px solid black; padding: 5px" ></center>
    <br>
  <br>
  <div ng-hide="authData" class="card" ng-click="login()">
  <button class="item">
  Log In with Facebook
  </button>
</div>

<div class="card" ng-show="authData">
  <div class="item item-text-wrap">
    Hello {{authData.facebook.displayName}}!
  </div>
</div>

    <form ng-submit="doLogin(username, password)">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
