<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
  <br>
  <center><img src="img/bmwlogo.png" style="border:3px solid black; width:325px " ></center>
    <br>

  <div class="list">
<p><center>Please make a selection</center></p>
  <label class="item item-radio">
    <input name="group" type="checkbox" ng-model="userType.passanger" ng-checked="userType.passanger.checked" ng-click="checkPassanger()">
    <div class="item-content">
      <h2><b>Passenger</b></h2>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

    <label class="item item-radio item-select">
    <input name="group" type="checkbox" ng-model="userType.rider" ng-checked="userType.rider.checked" ng-click="checkRider()">
    <div class="item-content">
      <h2><b>Rider</b></h2>
    </div>
    <i class="radio-icon ion-checkmark"></i>
  </label>

</div>

<div class="list list-inset">
  <label class="item item-input">
    <input type="number" placeholder="Enter your phone number" ng-model="userType.phoneNumber">
  </label>
</div>

  <div ng-hide="authData" ng-click="login()">
  <center><img src="img/fb.png" style="width:50%"></img></center>
</div>

<div class="card" ng-show="authData && (userType.passanger || userType.rider)">
  <div class="item item-text-wrap item-icon-right item-avatar">
  <img ng-src="{{authData.profileImageURL}}">
    Hello {{authData.displayName}}!
    <i class="icon ion-chevron-right icon-accessory" ng-click="savefbinfo(userType)"></i>
  </div>
</div>

<div ng-show="!(userType.passanger || userType.rider) && authData">
  <center><p style="color:red">Please select a option from Passenger or Rider</p></center>
</div>

  </ion-content>
</ion-modal-view>
