<ion-view view-title="Account">

    <ion-content>
        
        <div class="list card">

            <center>
                <h2>{{authData.displayName}}</h2>
                <p><strong>Location: </strong>Toronto, ON, Canadaa</p>
            </center>

            <div class="item item-body">
                <center>
                    <img src="{{ authData.cover}}" width:"300px"; height:"300px";>
                    <p align="middle" style="width:50%">
                      Erlich Bachman is a a supremely confident and arrogant entrepreneur who founded an innovation incubator in his home after the purchase of his airfare collator Aviato. Under the incubator agreement, Erlich owns 10% of Pied Piper, and is later appointed to the company's board of directors after Richard realizes how important Erlich is to the business. Erlich is a frequent user of marijuana. It is revealed in the season 2 finale that Erlich no longer codes because of severe carpal tunnel syndrome.
                    </p>
                </center>
            </div>
        </div>


        <div class="card">
            <div class="row">
                <div class="col col-50">
                    <div class="item item-divider">
                        <h2><center>Account Profile</center></h2>
                    </div>        
                </div>
                <div class="col col-50">
                    <div class="item item-divider">
                        <h2><center>Account Details</center></h2>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col col-50">
                    <div class="list">
                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-home"></i>
                            367 Addison Avenue
                        </a>

                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-ios-telephone"></i>
                            +1 (647) 373 6170
                        </a>

                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-wifi"></i>
                            http://www.piedpiper.com/
                        </a>

                        <a href="#" class="item item-icon-left">
                            <i class="icon ion-ios-sunny"></i>
                            Year of Birth - {{authData.birthday}}
                        </a>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="list">
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-thumbsup"></i>
                                Preferences
                            <span class="item-note">
                                <h3>{{chats.length}}</h3>
                            </span>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-cash"></i>
                                Travel Budget
                            <span class="item-note">
                                <h3>$1,000</h3>
                            </span>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-alert-circled"></i>
                                Risk Level
                            <span class="badge badge-assertive">
                                <h3>100,00% - Daredevil</h3>
                            </span>
                        </a>
                        <a class="item item-icon-left item-icon-right" href="#">
                            <i class="icon ion-happy-outline"></i>
                                Rider Rating
                            <span class="item-note">
                                <h3>1 Star</h3>
                            </span>
                       </a>
                   </div>                                         
                </div>
            </div>              
        </div>
    </ion-content>
</ion-view>
