<ion-view view-title="Account">
  <ion-content>

<div class="list card">

<center>
    <h2>Sky Dollar Inc.</h2>
    <p>Location: Toronto, ON, Canadaa</p>
</center>

  <div class="item item-body">
  <center>  <img class="full-image" src="img/Img-SMO.jpg"></center>
    <p>
      Sky Dollar Inc. is a retailer that sells tailor-made clothing. We specialize in chic, ergonomic, and stylish fashion. Our clothing is made from locally crowdsourced material and is highly affordable. Our price range goes as little as $15 to $40 per item. We've been around for about 5 years now and are always hoping to innovate and make the world a better place. Our unique selling factor is that we're local, social, and mobile - LoMoSo... Or are we SoLoMo? Yeah, SoLoMo! 
    </p>
  </div>
</div>

<div class="card">
  	<div class="item item-divider">
    	<center>Business Profile</center>
  	</div>
	<div class="list">

  	<a href="#" class="item item-icon-left">
    	<i class="icon ion-home"></i>
    	183 Spadina Avenue
  	</a>

  	<a href="#" class="item item-icon-left">
    	<i class="icon ion-ios-telephone"></i>
    	+1 (647) 373 6170
  	</a>

  	<a href="#" class="item item-icon-left">
    	<i class="icon ion-wifi"></i>
    	https://www.skydollar.inc
 	</a>

  	<a href="#" class="item item-icon-left">
    	<i class="icon ion-ios-sunny"></i>
    	Year of Birth - 2010
  	</a>

	</div>
  	<div class="item item-divider">
    	<center>Business Health</center>
 	</div>

	<div class="item item-text-wrap">
	    
	<div class="list">
		<a class="item item-icon-left item-icon-right" href="#">
		<i class="icon ion-card"></i>
			# of Transactions
		<span class="item-note">
			{{chats.length}}
		</span>
	</a>

	<a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-cash"></i>
		    Monthly Revenue
	    <span class="item-note">
	    	$10,000
	    </span>
	</a>

	<a class="item item-icon-left item-icon-right" href="#">
	    <i class="icon ion-pricetags"></i>
		    Annual Revenue
	    <span class="item-note">
	    	$120,000
	    </span>
	</a>

	<a class="item item-icon-left" href="#">
	    <i class="icon ion-happy-outline"></i>
    		Retention Rate
	    <span class="badge badge-assertive">
	    	40.00%
	    </span>
	</a>
	</div>   
	                          
	</div>
</div>







  </ion-content>
</ion-view>
