<ion-view view-title="Pay">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">Enter Amount</div>
      <div class="item item-body">
        <div class="item item-input-inset">
            $&nbsp <input style="width: 100%" class="input-group input" type="number" name="amount" placeholder="Enter Transaction amount" ng-model="amount" required>
        </div>
        <br>
        <div><button class="button button-balanced button-block"  ng-disabled="amount <= 0" ng-click="tapping(amount)"> Tap </button></div>
      </div>
    </div>

    <div class="list card">
        <div class="item item-divider">Verify Preorder</div>
        <div class="item item-body">
            <div class="item item-input-inset">
                <input style="width: 100%" class="input-group input" type="text" name="txId" placeholder="Enter transaction id" ng-model="txid" required />
            </div>
            <br />
            <div><button class="button button-balanced button-block" ng-disabled="txid <= 0" ng-click="verifyTxId(txid)">Verify</button></div>
        </div>
    </div>


  </ion-content>
</ion-view>
