<ion-view view-title="Bookings">
  <ion-content>

      <button ng-click="useCurrentLocation()" class="button button-balanced button-block" >Use current location</button>
      <!-- <map center="-34.397, 150.644" zoom="8"></map> -->
<map center="({{locations.latitude}}, {{locations.longitude}})" zoom="12" on-click="addMarker()" id="map" data-tap-disabled="true">
    <marker position="{{locations.latitude}}, {{locations.longitude}}"></marker>
    <marker ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}" icon="http://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png"></marker>
    <shape name="circle" ng-repeat="city in cities" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35" center="{{city.position}}" radius="50">
    </shape>
  </map>
      
      <div class="row">
        <div class="col col-50">
            <button class="button button-block" ng-class="{'button-balanced' : clicked}" ng-click="options('Economical'); clicked = !clicked">Economical</button>
        </div>
        <div class="col col-50">
            <button class="button button-block" ng-class="{'button-assertive' : clicked2}" ng-click="options('Adventurous'); clicked2 = !clicked2">Adventurous</button>
        </div>
      </div>

  <div class="list">
<div ng-repeat="ride in riders track by $index">
  <div class="row card" >
    <div class="col col-25">
    <img src="img/Bike{{$index+1}}.png" style="width:100%">
    </div>
    <div class="col col-50">  
    <h3>{{ride.name}}</h3>
      <p>Ph: {{ride.phone_number}}</p>
      <p>Description: {{ride.description}}</p>
      <p>Interests: {{ride.interests}}</p>
      </div>
      <div class="col col-25"> 
      Choose Rider: 
      <label class="checkbox">
       <input type="checkbox" ng-model="ride.checked" ng-checked="ride.checked">
     </label>
     </div>
  </div>
</div>
<button ng-click="callRiders(riders)" class="button button-assertive button-block" >Call Rider!</button>

<!--     <a class="item item-thumbnail-left"  href="#"> -->
      
    
    </a>
</div>
  </ion-content>
</ion-view>