<ion-view view-title="Rider">
  <ion-content>
      <!-- <map center="-34.397, 150.644" zoom="8"></map> -->
<map center="37.41396, -122.07779" zoom="12" on-click="addMarker()">
    <marker ng-repeat="pickup in pickups" position="{{pickup.latitude}}, {{pickup.longitude}}"></marker>
  </map>
  <div class="list">
  <div ng-if="!rideConfirmed" ng-repeat="pickup in pickups">
    <button ng-click="confirmRide(pickup)" class="button button-balanced button-block" >Confirm This Ride</button>
  </div>
  <div ng-if="!arrived">
    <button ng-click="arrived(pickup)" class="button button-balanced button-block" >Arrived</button>
  </div>
    <div ng-if="!rideComplete">
    <button ng-click="rideComplete(pickup)" class="button button-balanced button-block">Ride Complete</button>
  </div>
      
</div>
  </ion-content>
</ion-view>