<ion-view view-title="Rider">
  <ion-content>
      <!-- <map center="-34.397, 150.644" zoom="8"></map> -->
<map center="({{locations.latitude}}, {{locations.longitude}})" zoom="12" id="map" data-tap-disabled="true">
    <marker  position="({{locations.latitude}}, {{locations.longitude}})"></marker>
  
  </map>

  <div class="row card">
    <div class="col col-30 col-center">
        <img src="{{xyz.cover}}" style="width:75%">
    </div>
    
    <div class="col col-40 col-center">
        <h2>{{xyz.displayName}}</h2>
        <p>415 - 739 - 3425</p>
        <p>{{xyz.email}}</p>
        <p><strong>Interests: </strong></p>
    </div>
    <div class="col col-30 col-center"> 
        <div class="row-center">
            <h3>Confirm Ride:</h3>
        </div>
        <div class="row-center">
            <label class="checkbox">
                <input type="checkbox" ng-model="passanger.ride.checked" ng-checked="passanger.ride.checked">
            </label>
        </div>
    </div>
</div>

  <div class="list">
  <div ng-if="passanger.ride.checked && !passanger.arrived">
    <button ng-click="passanger.arrived = true" class="button button-balanced button-block" >Arrived</button>
  </div>
    <div ng-if="passanger.arrived">
    <button ng-click="rideComplete(); passanger.delivered = true" class="button button-balanced button-block">Ride Complete</button>
  </div>


      <div class="list card" ng-if="passanger.delivered">
      <div class="item item-divider">Enter Amount</div>
      <div class="item item-body">
        <div class="item item-input-inset">
            $&nbsp <input style="width: 100%" class="input-group input" type="number" name="amount" placeholder="Enter Transaction amount" ng-model="amount" required>
        </div>
        <br>
        <div><button class="button button-balanced button-block"  ng-disabled="amount <= 0" ng-click="tapping(amount)"> Tap </button></div>
      </div>
    </div>
      
</div>
  </ion-content>
</ion-view>