<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-show="userType.passanger">

   <!-- Account Tab -->

   <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account">
       <ion-nav-view name="tab-account"></ion-nav-view>
   </ion-tab>     



   <ion-tab title="Passenger" icon-off="ion-android-people" icon-on="ion-android-people" href="#/tab/customer">
       <ion-nav-view name="tab-customer"></ion-nav-view>
   </ion-tab>  


</ion-tabs>

<ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-show="userType.rider">


   <!-- Dashboard Tab -->

   <ion-tab title="Rider" icon-off="ion-android-bicycle" icon-on="ion-android-bicycle" href="#/tab/dash" >
       <ion-nav-view name="tab-dash"></ion-nav-view>
   </ion-tab>     


   <!-- Chats Tab -->

   <ion-tab title="Transactions" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/chats">
       <ion-nav-view name="tab-chats"></ion-nav-view>
   </ion-tab>


</ion-tabs>



